<table border="1">
  <caption>Таблица практик</caption>

  <tr>
    <th>Название практики</th>
    <th>Лидер практики</th>
    <th>Занято/Всего</th>
    <th>Принять/Отклонить</th>
  </tr>
  <tr>
  {% for practice in practices %}
      <td> {{ practice.container_name }} </td>
      <td> {{ practice.container_director }} </td>
      <td> {{ practice.container_capacity }} </td>
      <td>
          <form action="урл для принятия" method="post">
            <input type="submit" name="accept" value="Принять">
          </form>
          <form action="урл для отказа" method="post">
            <input type="submit" name="decline" value="Отклонить">
          </form>
          <form action="урл для подачи заявки" method="post">
            <input type="submit" name="decline" value="Подать заявку">
          </form>
          Состояние: Нету/На рассмотрении
      </td>
  </tr>
  {% endfor %}
</table>