<table border="1">
  <caption>Таблица практик</caption>  
  
  <tr>
    <th>Название лаборатории</th>
    <th>Лидер лаборатории</th>
    <th>Занято/Всего</th>
    <th>Принять/Отклонить</th>
  </tr>
  <tr>
  {% for practice in practices %}
    <td>

        <th> {{ practice.container_name }} </th>
        <th> {{ practice.container_director }} </th>
        <th> {{ practice.container_capacity }} </th>

        
      <form action="урл для принятия" method="post">
        <input type="submit" name="accept" value="Принять">
      </form>
      <form action="урл для отказа" method="post">
        <input type="submit" name="decline" value="Отклонить">
      </form>
      <form action="урл для подачи заявки" method="post">
        <input type="submit" name="decline" value="Подать заявку">
      </form>
      Состояние: Нету/На рассмотрении
    </td>
  </tr>
  {% endfor %}
</table>