{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "userroles/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "userroles/css/style.css" %}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "userroles/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <img class="img-padding" src="{% static "userroles/img/profile_logo.svg" %}">
          <h4>{{ user_name }} {{ user_surname }}</h4>
          <!-- Здесь идут меню в зависимости от группы юзера -->
          <!-- НАСТРОЙТЕ В ШАБЛОНАХ ССЫЛКИ -->
          <ul class="nav nav-pills nav-stacked">
            <li class="active" ><a href="#section1">Мой профиль</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h4><small>Мой профиль:</small></h4>
          <hr>
          <!-- Здесь рисовать данные или таблицу практик или запросов -->
        </div>
      </div>
    </div>
    
    <footer class="container-fluid">
      <p>DistribSystem Team (c) 2017</p>
    </footer>
  </body>
</html>
