{% extends 'accounts/my_profile.html' %}
{% block content %}

<table border="1">
  <caption>Таблица контейнеров</caption>

  <tr>
    <th>Название</th>
    <th>Руководитель</th>
    <th>Занято/Всего</th>
    <th>Действия</th>
    <th>Состояние</th>
  </tr>
  <tr>
  {% for content in pairs %}
      <td> {{ content.first_item.container_name }} </td>
      <td> {{ content.first_item.container_director }} </td>
      <td> {{ content.second_item }} / {{ content.first_item.container_capacity }} </td>
      <td>
          <form action="урл для подачи заявки" method="post">
            <input type="submit" name="decline" value="Подать заявку">
          </form>
      </td>
   {% endfor %}
   {% for user_requests in requests %}
       <td> {{user_requests.status }} </td> 
   {% endfor %}     
  </tr>
  
</table>
{% endblock %}