{% extends 'accounts/my_profile.html' %}
{% block content %}

<table border="1">
  <caption>Таблица контейнеров</caption>

  <tr>
    <th>Название</th>
    <th>Руководитель</th>
    <th>Занято/Всего</th>
    <th>Действия</th>
    <th>Состояние</th>
  </tr>
    {% for content in triples %}
  <tr>

      <td> {{ content.first_item.container_name }} </td>
      <td> {% for director in content.first_item.container_director.all %}
                {{ director }}
           {% endfor %}
      </td>
      <td> {{ content.second_item }} / {{ content.first_item.container_capacity }} </td>
      <td>
          <form action={% url 'choose_distrib:student_make_request' user_id content.first_item.container_type content.first_item.container_type content.first_item.id %}  method="post">
            {% csrf_token %}
            <input type="submit" name="decline" value="Подать заявку">
          </form>
      </td>
       <td>{% if content.third_item %}
                {% if content.third_item.pop.status == 0 %}
                    Рассматривается
                {% elif content.third_item.pop.status == 1 %}
                    Принята
                {% elif content.third_item.pop.status == 2 %}
                    Отклонена
                {% endif %}
           {% else %}
           Нет
           {% endif %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}