<form name="my_profile" method="post" action="здесь урл указывай">
	<ul>
		<li>Мой профиль</li>
		<li>Имя: <br> само имя</li>
		<li>
			<input type="text" placeholder="Изменить имя">
		</li>
		<li>Фамилия: <br> сама фамилия</li>
		<li>
			<input type="text" placeholder="Изменить фамилию">
		</li>
		<li>Отчество: <br> само отчество</li>
		<li>
			<input type="text" placeholder="Изменить отчество">
		</li>
		<li>Email: <br> само email</li>
		<li>
			<input type="text" placeholder="Изменить email">
		</li>
		<li>Изменить пароль:</li>
		<li>
			<input type="text" placeholder="Старый пароль">
		</li>
		<li>
			<input type="text" placeholder="Новый пароль">
		</li>
		<li>
			<input type="submit">
		</li>
	</ul>
</form>