<table border="1">
  <caption>Таблица практик</caption>
  
  {% for temps in practice_dict.keys() %}
     {% for new_k, v in temps.keys() %}
  <!--<tr>
    <th>Название лаборатории</th>
    <th>Лидер лаборатории</th>
    <th>Занято/Всего</th>
    <th>Принять/Отклонить</th>
  </tr>-->
  <tr>
 {% if temps[new_k] is v %} 
    <td>{% v %}</td>
    <td>{% v %}</td>
    <td>{% v %}/{% temps[new_k] %}</td>
    <td>
      <form action="урл для принятия" method="post">
        <input type="submit" name="accept" value="Принять">
      </form>
      <form action="урл для отказа" method="post">
        <input type="submit" name="decline" value="Отклонить">
      </form>
      <form action="урл для подачи заявки" method="post">
        <input type="submit" name="decline" value="Подать заявку">
      </form>
      Состояние: Нету/На рассмотрении
    </td>
  </tr>
     {%endfor}
  {% endfor %}
</table>