<h5>Преподавателю</h5>
<a href="{% url 'choose_distrib:professor' user_id 'Practice' 'view_requests'%}" class="list-group-item">
    <p class="list-group-item-text">Практика</p>
</a>
<a href="{% url 'choose_distrib:professor' user_id 'Practice' 'print_requests'%}" class="list-group-item">
    <p class="list-group-item-text">Распечатать данные по практике</p>
</a>
<a href="{% url 'choose_distrib:professor' user_id 'Course' 'view_requests'%}" class="list-group-item">
    <p class="list-group-item-text">Курс по выбору</p>
</a>
<a href="{% url 'choose_distrib:professor' user_id 'Course' 'print_requests'%}" class="list-group-item">
    <p class="list-group-item-text">Распечатать данные для курса по выбору</p>
</a>
<a href="{% url 'choose_distrib:professor' user_id 'Laboratory' 'view_requests'%}" class="list-group-item">
    <p class="list-group-item-text">Лаборатории</p>
</a>
<a href="{% url 'choose_distrib:professor' user_id 'Laboratory' 'print_requests'%}" class="list-group-item">
    <p class="list-group-item-text">Распечатать данные для лаборатории</p>
</a>